/* General */

main, div {
  box-sizing: border-box;
}

/* Background */

body {
  padding: 0;
  margin: 0;
}

/* Typography */

h1 {
  letter-spacing: 3px;
  font-size: 24px;
  text-transform: uppercase;
}

h1, p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #313f47;
  font-weight: 200;
  text-align: center;
}

p {
  margin-top: -10px;
  line-height: 1.25;
}

/* Card */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
}

.card {
  width: 100%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  position: relative;
  bottom: 30px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Image */

.image-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.me {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  padding: 0 20px;
  flex-shrink: 0;
}

.line {
  width: 100%;
  border-top: 1px solid #c8cccf;
}

/* Icons */

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 2px solid #c8cccf;
  border-radius: 100%;
  padding: 10px;
  margin: 0 10px;
  color: #c8cccf;
  transition: all .1s ease-in;
}

.icon:hover {
  border-color: #ff7496;
  color: #ff7496;
}

/* Desktop */

@media only screen and (min-width: 800px) and (max-width: 1920px) {
  body {
    background-image:url('assets/ocean.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.95);
    height: 460px;
    width: 390px;
  }
}

@media only screen and (min-width: 1920px) {
  .line {
    display: none;
  }
}
